<html ng-app="test">
    <head>
        <title>AngularJs - Date/Timepicker</title>
        
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="./source/css/style.css">
    </head>
    <body>
        <div ng-controller="testController as vm">
            <p>
                <input type="text" datetimepicker datetimepicker-options="vm.properties" ng-model="vm.datum" />    
            </p>
            <p>
                <input type="text">
            </p>
            <p>
                <input type="text">
            </p>
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>
                <input type="text" datetimepicker datetimepicker-options="vm.properties" ng-model="vm.datum2" />    
            </p>
        </div>
        
        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./node_modules/moment/moment.js"></script>
        
        <script src="./source/js/datetimepicker.module.js"></script>
        <script src="./source/js/datetimepicker.controller.js"></script>
        <script src="./source/js/datetimepicker.directive.js"></script>
        <script src="./source/js/templates.js"></script>
        <!--
        <script src="./dist/datetimepicker.js"></script>
        -->
        <script>
            angular.module('test', ['kmd-datetimepicker'])
                   .controller('testController', function($scope) {
                       var vm = this;
                       
                       $scope.$watch(function() { return vm.datum; }, function() {
                           console.log(vm.datum);
                       });
                       
                       vm.properties = {
                           outputFormat: 'YYYY/MM/DD hh:mm:ss A'
                       };
                   });
        </script>
    </body>
</html>