<div class="kmd-datepicker">
    <!-- Header -->
    <div class="kmd-row">
        <div class="kmd-button kmd-prev"
             data-ng-mousedown="vm.datepickerPrevious($event)">
            <i data-ng-class="vm.icons.previous"></i>
        </div>
        <div class="kmd-button kmd-switch"
             data-ng-mousedown="vm.decreaseDatepickerViewLevel($event)"
             data-ng-bind="vm.currents.datepickerSwitchLabel">
        </div>
        <div class="kmd-button kmd-next"
             data-ng-mousedown="vm.datepickerNext($event)">
            <i data-ng-class="vm.icons.next"></i>
        </div>
    </div>
    <!-- Content-window for datepicker -->
    <div class="kmd-row" data-ng-include="vm.dateSelectionTemplate">
    </div>
    <!-- Switch-button for timepicker -->
    <div class="kmd-row"> <!-- ng-if -->
        <div class="kmd-button kmd-timeswitch"
             data-ng-mousedown="vm.switchMode($event, 'time')">
            <i data-ng-class="vm.icons.clock"></i>
        </div>
    </div>
</div>