<table class="kmd-datepicker-day">
    <tr>
        <th data-ng-repeat="day in vm.daysOfWeek" data-ng-bind="day">
        </th>
    </tr>
    <tr data-ng-repeat="week in vm.daysOnCalendar">
        <td data-ng-repeat="day in week">
            <div class="kmd-button" 
                 data-ng-bind="day.label" 
                 data-ng-class="{'day-not-in-selected-month': !day.inSelectedMonth, 'day-is-today': vm.isCurrentDay(day.date), 'day-is-selected': vm.isSelectedDay(day.date)}"
                 data-ng-mousedown="vm.selectDay($event, day.date)">
            </div>
        </td>
    </tr>
</table>