<table class="kmd-datepicker-day">
    <tr>
        <th data-ng-repeat="day in dtpCtrl.daysOfWeek" data-ng-bind="day">
        </th>
    </tr>
    <tr data-ng-repeat="week in dtpCtrl.daysOnCalendar">
        <td data-ng-repeat="day in week">
            <div class="kmd-button" 
                 data-ng-bind="day.label" 
                 data-ng-class="{'day-not-in-selected-month': !day.inSelectedMonth, 'day-is-today': dtpCtrl.isCurrentDay(day.date), 'day-is-selected': dtpCtrl.isSelectedDay(day.date), 'day-is-disabled': day.isDisabled}"
                 data-ng-mousedown="dtpCtrl.selectDay($event, day.isDisabled, day.date)">
            </div>
        </td>
    </tr>
</table>