<div class="kmd-timepicker">
    <!-- Switch-button for datepicker -->
    <div class="kmd-row"
         data-ng-if="dtpCtrl.hasDate()">
        <div class="kmd-button kmd-dateswitch"
             data-ng-mousedown="dtpCtrl.switchMode($event, 'date')">
            <i data-ng-class="dtpCtrl.icons.calendar"></i>
        </div>
  </div>
  <!-- Content-window for timepicker -->
  <div class="kmd-row">
      <table>
          <!-- Increment -->
          <tr>
              <td data-ng-if="dtpCtrl.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.increment($event, 'h')">
                      <i data-ng-class="dtpCtrl.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.isEnabled('h') && dtpCtrl.isEnabled('m')"></td>
              <td data-ng-if="dtpCtrl.isEnabled('m')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.increment($event, 'm')">
                      <i data-ng-class="dtpCtrl.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="(dtpCtrl.isEnabled('h') || dtpCtrl.isEnabled('m')) && dtpCtrl.isEnabled('s')"></td>
              <td data-ng-if="dtpCtrl.isEnabled('s')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.increment($event, 's')">
                      <i data-ng-class="dtpCtrl.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.defaults.usePeriod"></td>
          </tr>
          <!-- Display -->
          <tr>
              <td data-ng-if="dtpCtrl.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-bind="dtpCtrl.getCurrent('h')"
                     data-ng-mousedown="dtpCtrl.switchMode($event, 'h')">
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.isEnabled('h') && dtpCtrl.isEnabled('m')">:</td>
              <td data-ng-if="dtpCtrl.isEnabled('m')">
                  <div class="kmd-button"
                     data-ng-bind="dtpCtrl.getCurrent('m')"
                     data-ng-mousedown="dtpCtrl.switchMode($event, 'm')">
                  </div>    
              </td>
              <td data-ng-if="(dtpCtrl.isEnabled('h') || dtpCtrl.isEnabled('m')) && dtpCtrl.isEnabled('s')">:</td>
              <td data-ng-if="dtpCtrl.isEnabled('s')">
                  <div class="kmd-button"
                     data-ng-bind="dtpCtrl.getCurrent('s')"
                     data-ng-mousedown="dtpCtrl.switchMode($event, 's')">
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.defaults.usePeriod">
                  <div class="kmd-button kmd-button-active"
                       data-ng-bind="dtpCtrl.getCurrentPeriod()"
                       data-ng-mousedown="dtpCtrl.togglePeriod($event);">
                  </div>
              </td>
          </tr>
          <!-- Decrement -->
          <tr>
              <td data-ng-if="dtpCtrl.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.decrement($event, 'h')">
                      <i data-ng-class="dtpCtrl.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.isEnabled('h') && dtpCtrl.isEnabled('m')"></td>
              <td data-ng-if="dtpCtrl.isEnabled('m')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.decrement($event, 'm')">
                      <i data-ng-class="dtpCtrl.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="(dtpCtrl.isEnabled('h') || dtpCtrl.isEnabled('m')) && dtpCtrl.isEnabled('s')"></td>
              <td data-ng-if="dtpCtrl.isEnabled('s')">
                  <div class="kmd-button"
                       data-ng-mousedown="dtpCtrl.decrement($event, 's')">
                      <i data-ng-class="dtpCtrl.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="dtpCtrl.defaults.usePeriod"></td>
          </tr>
      </table>
    </div>
</div>