<div class="kmd-timepicker">
    <!-- Switch-button for datepicker -->
    <div class="kmd-row"
         data-ng-if="vm.hasDate()">
        <div class="kmd-button kmd-dateswitch"
             data-ng-mousedown="vm.switchMode($event, 'date')">
            <i data-ng-class="vm.icons.calendar"></i>
        </div>
  </div>
  <!-- Content-window for timepicker -->
  <div class="kmd-row">
      <table>
          <!-- Increment -->
          <tr>
              <td data-ng-if="vm.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.increment($event, 'h')">
                      <i data-ng-class="vm.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="vm.isEnabled('h') && vm.isEnabled('m')"></td>
              <td data-ng-if="vm.isEnabled('m')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.increment($event, 'm')">
                      <i data-ng-class="vm.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="(vm.isEnabled('h') || vm.isEnabled('m')) && vm.isEnabled('s')"></td>
              <td data-ng-if="vm.isEnabled('s')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.increment($event, 's')">
                      <i data-ng-class="vm.icons.up"></i>
                  </div>
              </td>
              <td data-ng-if="vm.defaults.usePeriod"></td>
          </tr>
          <!-- Display -->
          <tr>
              <td data-ng-if="vm.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-bind="vm.getCurrent('h')"
                     data-ng-mousedown="vm.switchMode($event, 'h')">
                  </div>
              </td>
              <td data-ng-if="vm.isEnabled('h') && vm.isEnabled('m')">:</td>
              <td data-ng-if="vm.isEnabled('m')">
                  <div class="kmd-button"
                     data-ng-bind="vm.getCurrent('m')"
                     data-ng-mousedown="vm.switchMode($event, 'm')">
                  </div>    
              </td>
              <td data-ng-if="(vm.isEnabled('h') || vm.isEnabled('m')) && vm.isEnabled('s')">:</td>
              <td data-ng-if="vm.isEnabled('s')">
                  <div class="kmd-button"
                     data-ng-bind="vm.getCurrent('s')"
                     data-ng-mousedown="vm.switchMode($event, 's')">
                  </div>
              </td>
              <td data-ng-if="vm.defaults.usePeriod">
                  <div class="kmd-button kmd-button-active"
                       data-ng-bind="vm.getCurrentPeriod()"
                       data-ng-mousedown="vm.togglePeriod($event);">
                  </div>
              </td>
          </tr>
          <!-- Decrement -->
          <tr>
              <td data-ng-if="vm.isEnabled('h')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.decrement($event, 'h')">
                      <i data-ng-class="vm.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="vm.isEnabled('h') && vm.isEnabled('m')"></td>
              <td data-ng-if="vm.isEnabled('m')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.decrement($event, 'm')">
                      <i data-ng-class="vm.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="(vm.isEnabled('h') || vm.isEnabled('m')) && vm.isEnabled('s')"></td>
              <td data-ng-if="vm.isEnabled('s')">
                  <div class="kmd-button"
                       data-ng-mousedown="vm.decrement($event, 's')">
                      <i data-ng-class="vm.icons.down"></i>
                  </div>
              </td>
              <td data-ng-if="vm.defaults.usePeriod"></td>
          </tr>
      </table>
    </div>
</div>