.kmd-prev,
.kmd-next {
    width: 15%;
    position: absolute;
    top: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    height: 31px;
    line-height: 20px;
}
.kmd-prev {
    left: 0;
}
.kmd-next {
    right: 0;
}
.kmd-switch {
    margin: 0 auto;
    font-weight: bold;
    width: 68%;
    float: none;
    height: 31px;
    line-height: 20px;
}

.kmd-datepicker-month td .kmd-button,
.kmd-datepicker-year td .kmd-button { 
    width: 100%;
    padding: 12px 0;
}

.day-not-in-selected-month {
    color: $font-color-other-month;
}
.day-is-today {    
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        
        border-top: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid $today-caret-color;
        border-bottom: 4px solid $today-caret-color;
        border-bottom-right-radius: 2px;
        bottom: 3px;
        right: 3px;
    }
    
    &.day-is-selected:before {
        border-right-color: $today-selected-caret-color;
        border-bottom-color: $today-selected-caret-color;
    }
}
.day-is-selected {
    color: $selected-day-color !important;
    background-color: $selected-day-background-color !important;
}
.day-is-disabled {
    color: $font-color-disabled;
    cursor: not-allowed;
}