$border-color: lightgrey;
$background-color: #ffffff;
$font-color: #000000;
$font-color-disabled: lightgrey;
$font-color-other-month: #9E9E9E;
$selected-day-color: #ffffff;
$selected-day-background-color: #1976D2;
$today-caret-color: #000000;
$today-selected-caret-color: #ffffff;
$button-font-color: #1976D2;
$button-hover-background-color: lightgrey;
$button-active-color: #ffffff;
$button-active-background-color: #1976D2;
