.kmd-timepicker {
    table {
        .kmd-button {
            height: 26px;
            padding-top: 12px;
        }
    }
    
    .kmd-button-active {
        color: $button-active-color;
        background-color: $button-active-background-color !important;
        text-transform: uppercase;
    }
}