.kmd-timepicker {
    table {
        .kmd-button {
            height: 26px;
            padding-top: 12px;
        }
    }
    
    .kmd-button-active {
        color: #ffffff;
        background-color: #1976D2 !important;
    }
}